
.about__header{
    margin:0px;
    height:100%;
    
    
    .about__title{
        padding-top:1.5em;
        color:var(--white-color);
        width:100%;
        font-size:3em;
        text-align:center;
        max-width: 100vw;
    }
    .about__image{
        margin-left:5em;
        display:inline-block;
        float:left;
        clear:left;
        padding-bottom:10em;
        
    }
    
    .about__description{
        display:inline-block;
        //width: 71%;
        padding-top:1em;
        margin-left:3em;
        vertical-align: middle;
        color:var(--white-color);
        font-size:1.2em;
        text-indent:50px;
        .my_name{
            color:var(--secondary-color);
        }
        .school_name{
            color:var(--secondary-color);
        }
        max-width:60vw;
        
    }
}
a{
    color:var(--secondary-color);
    text-decoration: none;

}
a:hover{
    color:var(--white-color);
    
}
